{% extends 'home.html' %}
{% block title %}Creators{% endblock %}
{% block content %}
<section id="team" class="team">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Content Creators</h2>
        <p>Find your ultimate influencers</p>
      </header><br>

      <div class="row gy-4">
        {% for creator in creators %}
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="{{ creator.image.url }}" class="img-fluid" alt="">
              <div class="social">
                <a href="influencer.html"><i class="bi bi-link"></i></a>
                <a href=""><i class="bi bi-plus"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>{{creator.name}}</h4>
              <span>{{creator.job}}</span>
              <p>{{creator.about}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </section>
{% endblock %}